{{ form_start(form) }}
    <div>
        <div class='form_label'>{{ form_label(form.montant) }}</div>
        <div class="form_widget">{{ form_widget(form.montant) }}</div>
        <div class="form_errors">{{ form_errors(form.montant) }}</div>
    </div>
    
    <div>
        <div class='form_label'>{{ form_label(form.annee) }}</div>
        <div class="form_widget">{{ form_widget(form.annee) }}</div>
        <div class="form_errors">{{ form_errors(form.annee) }}</div>
    </div>
    
    <div>
        <div class='form_label'>{{ form_label(form.type) }}</div>
        <div class="form_widget">{{ form_widget(form.type) }}</div>
        <div class="form_errors">{{ form_errors(form.type) }}</div>
    </div>
    
    <div style="display: none;">
        {{ form_label(form.operation) }}
        {{ form_widget(form.operation) }}
        {{ form_errors(form.operation) }}
    </div>
    
    {# {{ form_row(form.operation, {'attr': {'style': 'display:none;'}}) }} #}

    

    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
