{% extends 'base_' ~ ga_theme ~ '.html.twig' %}

{% block title %}Quartier index{% endblock %}

{% block body %}
    <h1>Quartier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quartier in quartiers %}
            <tr>
                <td>{{ quartier.id }}</td>
                <td>{{ quartier.code }}</td>
                <td>{{ quartier.libelle }}</td>
                <td>
                    <a href="{{ path('admin_quartier_show', {'id': quartier.id}) }}">show</a>
                    <a href="{{ path('admin_quartier_edit', {'id': quartier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_quartier_new') }}">Create new</a>
{% endblock %}
